<style>@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap') </style>.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    border-radius: 12px;
    border: 1px solid rgba(29, 209, 0, 0.40);
    background: rgba(29, 209, 0, 0.10);
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);

    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%),
        url(../images/banner.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1171px;
    height: 550px;
    flex-shrink: 0;
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: white;
}

.color {

    color: green;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text1 {
    color: #fff;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 70px;
    margin-right: 200px;
    margin-left: 300px;
}

.text2 {
    position: absolute;
    top: 170px;
    margin-right: 200px;
    margin-left: 300px;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.buybtn {
    display: inline-flex;
    padding: 21px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--primary-700, #1DD100);
    margin-top: 300px;
}

.flex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

/* .flex1 {
    width: 573px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 24px;
    background:#F78C9C;
    /* margin-right: 20px; */
/* }
.flex3{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
} */ 